Repository thecraftman/chainsafedevops, changes with the labels that .github/labeler.yml gives for each.
All labels: team/backend, team/Qa, team/docs, team/Devops

Update README.md
  README.md
Labels: team/docs

initial
  README.md
Labels: team/docs

Update README.md
  README.md
Labels: team/docs

Update app.ts
  src/app.ts
Labels: team/backend

Update app.test.ts
  tests/app.test.ts
Labels: team/Qa

Update Dockerfile
  Dockerfile
Labels: team/Devops

add steps
  Steps.md
Labels: none

.github/labeler.yml:

# Add 'backend' label to any change within the 'src' package
team/backend:
- src/*

# Add 'test' label to any change in tests
team/Qa:
- tests/*

# Add 'docs' label to any change to README.md file. 
team/docs:
- README.md

# Add 'DevOps` label to any change to Dockerfile and Taskfile. 
team/Devops:
- Dockerfile
- Taskfile.yml
